%container-base {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%main-base {
  padding: 10vh 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
}

%title-base {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}
