@import "/styles/colors";
@import "/styles/base";

.container {
  @extend %container-base;

  .main {
    @extend %main-base;
    justify-content: flex-start;

    .title {
      @extend %title-base;
      margin-bottom: 3rem;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 1.2rem;
    }

    .button {
      @extend %button-base;
      flex-direction: column;
      font-size: 1rem;
      padding: 8px;
      height: 128px;
      width: 128px;
      justify-content: center;

      img {
        height: 60px;
        width: auto;
        margin-bottom: 0.5rem;
      }
    }
  }
}
