@import "/styles/colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: $color-primary;
  background-color: $color-background;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/InterVariableFont.tff);
}

.wrapper {
  min-height: 100%;

  #__next {
    min-height: 100%;
  }

  footer {
    margin-top: -2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 1rem;
    font-size: 0.9rem;

    em {
      margin: 0 8px;
    }

    a {
      margin: 0 4px;
    }
  }
}
