@import "/styles/colors";
@import "/styles/base";

.container {
  @extend %container-base;

  .main {
    @extend %main-base;
    max-height: 800px;
  }

  .title {
    @extend %title-base;
  }

  .logo {
    width: 50%;
    max-width: 220px;
    height: auto;
    margin: 4rem 0;
    transform: translate(11.28%, 0);
  }

  .button {
    @extend %button-base;

    img {
      height: 1rem;
      width: auto;
      margin-left: 10px;
    }
  }

  .button:hover,
  .button:focus {
    box-shadow: none;
    transform: translate(4px, 4px);
    transition: all 0.1s ease;
  }
}
