@import "/styles/colors";
@import "/styles/base";

.container {
  @extend %container-base;

  .main {
    @extend %main-base;
  }

  .title {
    @extend %title-base;
  }

  .logo {
    width: 50%;
    max-width: 300px;
    height: auto;
    transform: translate(11.28%, 0);
  }

  .button {
    border: 4px solid $color-primary;
    background-color: white;
    padding: 1.125rem;
    border-radius: 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 0px $color-primary;

    img {
      height: 1rem;
      width: auto;
      margin-left: 10px;
    }
  }
}
