@import "/styles/colors";
@import "/styles/base";

.container {
  @extend %container-base;

  .main {
    @extend %main-base;
  }

  .title {
    @extend %title-base;
  }

  .logo {
    width: 50%;
    max-width: 300px;
    height: auto;
    transform: translate(11.28%, 0);
  }

  .button {
    @extend %button-base;

    img {
      height: 1rem;
      width: auto;
      margin-left: 10px;
    }
  }
}
