@import "/styles/colors";
@import "/styles/base";

.container {
  min-height: 100vh;
  padding: 5vh 1rem;

  .details {
    justify-self: start;
    width: 100%;

    button {
      width: 100%;
      display: grid;
      grid-template-columns: 2rem auto;
      align-items: center;
      justify-content: start;
      color: inherit;
      border: none;
      background-color: inherit;
      cursor: pointer;

      .rotateRight {
        transform: rotate(90deg);
        transition: all 0.1s ease;
      }

      .rotateDown {
        transform: rotate(180deg);
        transition: all 0.1s ease;
      }
    }

    button:focus {
      outline: 1px solid $color-secondary;
    }
  }

  .methods {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 4px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 1rem;

    @media only screen and (min-width: 736px) {
      justify-content: center;
    }

    .button {
      border: 3px solid $color-primary;
      background-color: white;
      padding: 0.75rem;
      border-radius: 0.75rem;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 36px;
      box-shadow: 3px 3px 0px $color-primary;
      white-space: nowrap;
    }

    .button:hover,
    .button:focus {
      box-shadow: none;
      transform: translate(3px, 3px);
      transition: all 0.1s ease;
      outline: none;
    }

    .selected {
      background-color: $color-secondary;
      color: white;
      box-shadow: none;
      transform: translate(3px, 3px);
      transition: all 0.1s ease;
    }
  }
  .methods::-webkit-scrollbar {
    display: none;
  }

  .recipe {
    @extend %button-base;
    flex-direction: column;
    max-width: 320px;
    margin: 0 auto 1rem;
    padding: 0;

    @media only screen and (min-width: 336px) {
      max-width: 704px;
    }

    .detailsItem {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .detailsInstructions {
      font-size: 1rem;

      ol {
        margin-top: 0.5rem;
        padding-left: 1.5rem;

        li {
          margin-bottom: 0.5rem;
        }
      }
    }

    .heading {
      font-size: 1.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 2px solid $color-primary;

      .heading {
        font-size: 1.5rem;
        text-align: right;
      }

      .amountContainer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 1rem 0;

        input {
          font-size: 3.5rem;
          width: 100%;
          font-weight: bold;
          color: $color-primary;
          font-family: inherit;
          border: none;
          text-align: right;
          align-items: flex-end;
          // height: 3.5rem;
        }

        span {
          font-size: 2.5rem;
          color: $color-secondary;
          // padding-bottom: 24px;
          padding-bottom: 5px;
          white-space: nowrap;
          transform: rotate3d(180deg);
          transition: all 1s ease;
        }
      }

      .unitsContainer {
        display: flex;
        justify-content: space-between;

        @media only screen and (min-width: 376px) {
          justify-content: flex-end;
          gap: 0.5rem;
        }

        label {
          font-size: 1.25rem;
          color: $color-secondary;
          border: 2px solid white;
          border-radius: 0.75rem;
          padding: 5px 12px;
        }

        input[type="radio"] {
          position: fixed;
          opacity: 0;
          pointer-events: none;
        }

        .selected {
          border-color: $color-secondary;
          background-color: rgba(129, 97, 87, 0.12);
        }
      }
    }
  }

  .recipe > * {
    padding: 0.75rem;
  }
}

.fontRegular {
  font-weight: 350;
}
